/* change these */

/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800"); */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
/* @import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"); */

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently,
name the variables differently,
use the fonts in other ways in the font hierarchy etc. */

/* change / delete some of these - note: all variables are listed twice */

/* :root */
html {
  --bg-color: #be0f0f;
  --link-color: rgb(128, 0, 6);
  --link-hover-color: #f7d138;
  --color-2: #f7d138;
  --color-3: #f77118;
  --color-4: #f05fe6;
  --color-5: black;
  --font-h1: "anton", rergular;
  --primary-font: "Anton", regular;
  --secondary-font: "corbel", regular;
  --main-text-font: "spartan", light;
  --main-text-color: #000;
  --font-h4: "spartan", light;
  --h3-color: #000;
  --h3: 1rem;
  --white-space: 2rem;
}

/* html {
  font-size: 100%;
  font-family: var(--primary-font);
} */
body {
  background-color: var(--bg-color);
}

nav img {
  width: 10%;
}
nav button {
  margin-right: 1.5rem;
}
.h2 h2 {
  font-family: "spartan";
  font-size: calc(1.5rem + 0.9vw);
  font-weight: normal;
}
.text h3 {
  font-family: "corbel";
  font-weight: normal;
  font-size: 1rem;
}
#splash {
  margin-bottom: var(--white-space);
}

#splash div,
#section2 div {
  place-items: center;
}

#splash div *,
#section2 div * {
  grid-area: 1 / 1 / -1 / -1;
}

.text,
#section2 {
  margin-bottom: var(--white-space);
}

.splashh1 {
  color: var(--color-2);
  font-family: var(--font-h1);
  font-size: 5rem;
}
footer h6 {
  font-family: "spartan";
}
footer p {
  font-family: "corbel";
  font-weight: normal;
  font-size: 1rem;
}

/* //--Ipad---// */
@media (min-width: 700px) {
  #splash div * {
    font-size: 10rem;
  }

  footer .col-md-4 {
    width: 60%;
  }

  .cr p {
    text-align: center;
  }

  .ipad .img-fluid {
    margin-top: 1.5rem;
  }
}

/* //--desctop--// */
@media (min-width: 992px) {
  #splash div * {
    font-size: 15rem;
  }

  .ipad .img-fluid {
    margin-top: 0;
  }

  #sectionPose {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}
