/* change these */

/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800"); */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
/* @import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"); */

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently,
name the variables differently,
use the fonts in other ways in the font hierarchy etc. */

/* change / delete some of these - note: all variables are listed twice */

:root {
  --bs-body-bg: rgb(244, 212, 42);
  --link-color: rgb(128, 0, 6);
  --link-hover-color: #f7d138;
  --color-2: #f7d138;
  --color-3: #f77118;
  --color-4: #f05fe6;
  --color-5: black;
  --font-h1: "anton", rergular;
  --primary-font: "Anton", regular;
  --secondary-font: "corbel", regular;
  --main-text-font: "spartan", light;
  --main-text-color: #000;
  --font-h4: "spartan", light;
  --h3-color: #000;
  --h3: 1rem;
  --white-space: 2rem;
}

/* font-family: 'Anton', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Spartan', sans-serif; */

/* .splashbilde {
  opacity: 0.5;
} */
.container {
  background-color: var(--color-2);
}
.uten {
  background-color: #da707000;
}

.nav-link {
  color: var(--color-4);
  font-size: 0.87rem;
}

.nav-link:hover {
  color: var(--color-3);
}

.h2 h2 {
  font-family: "Spartan", sans-serif;
  font-size: calc(1.5rem + 0.9vw);
  font-weight: normal;
}
.text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 1rem;
}
#splash {
  margin-bottom: var(--white-space);
}

#splash div,
#section2 div {
  place-items: center;
}

#splash div *,
#section2 div * {
  grid-area: 1 / 1 / -1 / -1;
}

.text,
#section2 {
  margin-bottom: var(--white-space);
}

.text {
  line-height: 1.5;
}

.btn-dark:hover {
  color: var(--color-4);
}

.splashh1 {
  color: rgb(218, 10, 10);
  font-family: var(--font-h1);
  font-size: 5rem;
  /*  text-shadow: 2px 2px #802b2b; */
}
footer h6 {
  font-family: "spartan";
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

.bi-instagram:hover {
  color: var(--color-2);
}
.bi-facebook:hover {
  color: var(--color-4);
}
.bi-facebook,
.bi-instagram {
  color: var(--color-3);
}

.info1,
.info2,
.info3,
.info4 {
  width: 50%;
}

/* animation */
#bannerAnimation {
  border-top: solid #40000d 2px;
  border-bottom: solid #40000d 2px;
  margin-bottom: 22px;
  margin-top: 40px;
  background: #40000d;
}
.marquee {
  height: 25px;
  width: fit-content;

  overflow: hidden;
  position: relative;
}

.marquee span {
  background: #40000d;
}

.marquee div {
  width: 500%;
  height: 100px;
  position: absolute;
  overflow: hidden;
  animation: marquee 100s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
  color: #f1e6ee;
}

@keyframes marquee {
  100% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }

/* //--Ipad---// */
@media (min-width: 700px) {
  #splash div * {
    font-size: 10rem;
  }

  footer .col-md-4 {
    width: 60%;
  }

  .cr p {
    text-align: center;
  }

  .ipad .img-fluid {
    margin-top: 1.5rem;
  }

  .nav-link {
    font-size: 1.3rem;
  }
  .info1 {
    width: 80%;
  }
}

/* //--desctop--// */
@media (min-width: 992px) {
  #splash div * {
    font-size: 15rem;
  }

  .ipad .img-fluid {
    margin-top: 0;
  }

  #sectionPose {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}
